@media print { body { min-width: 1000px; } .no-print, .no-print * { display: none !important; } }

.body {
    margin: 0;
    padding: 0;
}

#lmap {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50px;
}

#lmap.split {
    left: 350px;
}

#panel {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    font-family: Helvetica, Arial, Sans-Serif;
    overflow: hidden;
}

#panel.split {
    width: 350px;
}

#panel > #panelSidebar {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    text-align: center;
    background-color: #EEEEEE;
    overflow: hidden;
}

#panel > #panelSidebar > #panelToggleButton {
    cursor: pointer;
    user-select: none;
    margin: 8px 0 10px 0;
    overflow: hidden;
}

#panel > #panelInner {
    box-sizing: border-box;
    margin: 0 0 0 50px;
    padding: 0 1em 2em 1em;
    width: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

#panel.split > #panelInner {
    display: block;
}

.badge {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.circle {
    box-sizing: border-box;
    margin: 10px 5px;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.circle.reload {
    color: black;
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    font-size: 32px;
    cursor: pointer;
}

.circle.alert {
    color: black;
    background-color: #FFAA1D;
    border: 1px solid #FFAA1D;
    cursor: pointer;
}

.circle.info {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: black;
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    margin: 10px auto;
    cursor: pointer;
}

.bg-blue {
    color: white;
    background-color: #2981ca;
    border: 1px solid #2981ca;
}

.bg-red {
    color: white;
    background-color: #cc3333;
    border: 1px solid #cc3333;
}

#panel ol {
    padding: 0;
}

#panel ol ol {
    padding: 0 0 0 1em;
}

#panel ol li {
    list-style: none;
}

#panel ol li label {
    display: inline;
    user-select: none;
    white-space: nowrap;
}

#panel ol li.feature {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0.1em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

#panel ol li.selected {
    background-color: #FFFFE0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate.rotate {
    animation: rotate 2s linear infinite;
}

.animate.paused {
    animation-play-state: paused;
}
