#container a, #container a:visited {
  color: #000;
}

#container {
  background: #FFF;
  color: #000;
  font-family: Helvetica, Arial, Sans-Serif;
}

#content {
  margin-top: 2em;
  margin-bottom: 7em;
  text-align: center;
}

.button {
  display: block;
  text-decoration: none;
  background: #CC3333;
  color: #FFF !important;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.8em;
  margin: 2em 3em;
}

.button#visited {
  color: #FFF !important;
}

.images {
  white-space: nowrap;
  overflow-x: auto;
  background: #f7f7f7;
}

.images img {
  display: inline;
  max-width: 80%;
  max-height: 80vh;
}

h1, p {
  max-width: 640px;
  margin: 1em auto 1em auto;
  padding: 0 1em;
  text-align: center;
}
